@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;
  background: url(img/car.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 96px;
}

.menu-bar nav {
  display: flex;
  gap: 80px;
}

header ul {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

header ul li {
  color: white;
  list-style: none;
  text-transform: uppercase;
}

/* Hero */

.hero {
  padding: 48px;
}

.hero-top,
.hero-bottom {
  margin-bottom: 96px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 32px;
}

.hero p {
  font-size: 40px;
  font-weight: 200;
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-bottom hr {
  width: 40%;
  height: 1px;
}

.models {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  justify-content: end;
}

.hero .test {
  padding: 24px 32px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border-radius: 24px;
}
